.booking-section {
    background-color: #a41e1e;
    padding: 50px 0;
  }
  
  .booking-form {
    background: rgb(173, 222, 230);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .booking-form .form-label {
    font-weight: bold;
    color: #343a40;
  }
  
  .booking-form .form-control {
    border-radius: 5px;
  }
  
  .booking-form .form-check-label {
    color: #495057;
  }
  
  .booking-form .btn {
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s;
  }
  
  .booking-form .btn:hover {
    background-color: #0056b3;
  }
  
  .booking-form .alert {
    margin-top: 20px;
    font-size: 16px;
  }